.button {
  max-width: 80vw;
  background-color: var(--secondary-color);
  cursor: pointer;

  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  margin: 30px 0px;
  padding: 20px;
  border-radius: 20px;
}

.text {
  font-size: 1.3em;
  font-weight: 600;
}
