.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  flex-wrap: wrap;
}

.nodeLink {
  display: flex;
  flex-direction: row;
}

.next {
  user-select: none;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  margin: 0px 5px;
}
