.choice {
  max-width: 25vw;
  background-color: var(--secondary-color);
  cursor: pointer;

  margin: 30px;
  padding: 20px;
  border-radius: 20px;

  font-size: 1.3em;
  font-weight: 600;
  color: var(--light-color);
  text-decoration: none;
}

.choice:hover {
  background-color: var(--selectable-color);
}

.selected {
  background-color: var(--selected-color);
}

.disabled {
  background-color: var(--disabled-color);
}

.disabledLink {
  pointer-events: none;
}
